<footer class="pt-16 pb-8">
  <nav class="max-w-6xl mx-auto flex justify-center items-center">
    <span class="text-black/80 font-medium text-sm sm:text-base"
      >Desarrollado por: <a
        class="hover:underline hover:text-black/30"
        href="https://github.com/WVazquezDev"
        target="_blank"
        rel="noopener noreferrer"
      >
        WVazquezDev
      </a></span
    >
  </nav>
</footer>
