---
import GitHub from "../icons/GitHub.astro";
---

<header>
    <nav class="max-w-6xl mx-auto flex justify-between items-center p-5">
        <h1 class="text-2xl text-black/80 font-bold">WhatsApp Link Generator</h1>
        <a class="p-1 hover:scale-110 active:scale-100 transition duration-75 ease-in-out" href="https://github.com/WVazquezDev" target="_blank" rel="noopener noreferrer">
            <GitHub class="size-7" />
        </a>
    </nav>
</header>