---
import GitHub from "../icons/GitHub.astro";
---

<header>
  <nav class="max-w-6xl mx-auto flex justify-between items-center p-5">
    <h1 class="text-xl text-black/80 font-bold flex items-center gap-x-3">
      <img width="32" src="/LinkZapWV_Icon.png" alt="LinkZapWV Icon" />
      <span
        >LinkZapWV <span class="hidden md:inline"
          >- WhatsApp Link Generator</span
        ></span
      >
    </h1>
    <a
      class="p-1 hover:scale-110 active:scale-100 transition duration-75 ease-in-out"
      href="https://github.com/WVazquezDev/link-whatsapp-generator"
      target="_blank"
      rel="noopener noreferrer"
    >
      <GitHub class="size-7" />
    </a>
  </nav>
</header>
